<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="cz.uhk.fim.kikm.navigation">

	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:name=".activity.App"
		android:allowBackup="false"
		android:icon="@drawable/icon"
		android:label="@string/applicationName"
		android:largeHeap="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.LoginActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity
			android:name=".activity.LocationActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity
			android:name=".activity.CrashActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"/>

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="cz.uhk.fim.kikm.navigation.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/paths"/>
		</provider>
	</application>
</manifest>